body{
    background-image: url('../images/wall.jpg');
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-bottom: 2%;
}

.container{
    padding: 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1%;
    border-radius: 20px;
    /* opacity: 0.99; */
    font-size: 15px;
}

.ramza{
    padding-top: 2%;
    text-align: left;
}

.hobbies{

    text-align: left;
}

.life{
    text-align: right;
    margin-bottom: 10%;
    margin-top: 10%;
}
.skills{

    text-align: left;
    margin-bottom: 20%;
    margin-top: 10%;
    
}

h3, h2{
    text-decoration: underline;
    
}

.sparks{
    padding: 3%;
    /* padding-bottom: 3%; */
    background-color: black;
    opacity: 0.8; 
    border-radius: 20px;
}

/* spinner css */

.spinner {
  margin: 90px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 400%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
} */

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* End of spinner css */

.animated{
    height: 200px;
    /* width: 500%; */
    /* margin-top: 5%; */
    
}

.scrollz{
  /* background-color: black; */
  text-align: center;
  padding-top: 25%;
}

.details{
  /* background-color: blue; */
  padding-bottom: 12%;
  margin-right: 20%;
  /* margin-left: -10%; */
}

/* .detail-2{
  background-color: orange;
  border-color: black;
} */

.detail-1{
  margin-right: -50%;
}